<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ergizgizer.reactnative.appindexing">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application>

        <service
            android:name=".AppIndexingUpdateService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ergizgizer.reactnative.appindexing.provider"
            android:exported="false"
            android:syncable="true"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>